@model someren_application.Models.Students


<div>
    <h1>Delete Room</h1>

    <div class="form-group py-2">
        <label>Student Number:</label>
        <p>@Model.StudentNumber</p> <!-- Display Room Number -->
    </div>
    <div class="form-group py-2">
        <label>First Name:</label>
        <p>@Model.FirstName</p> <!-- Display Room Type -->
    </div>
    <div class="form-group py-2">
        <label>Last Name:</label>
        <p>@Model.LastName</p> <!-- Display Room Capacity -->
    </div>
    <div class="form-group py-2">
        <label>Phone Number:</label>
        <p>@Model.PhoneNumber</p> <!-- Display Room Building -->
    </div>
    <div class="form-group py-2">
        <label>Student Class:</label>
        <p>@Model.StudentClass</p> <!-- Display Room Building -->
    </div>
    <div class="row">
        <div class="col-3">
            <!-- Delete Confirmation Form with POST request -->
            <form asp-controller="Students" asp-action="Delete" method="post">
                <input type="hidden" asp-for="StudentId" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="col-3">
            <a asp-controller="Students" asp-action="Index" class="btn btn-outline-secondary border form-control">
                Back To User
            </a>
        </div>
    </div>
</div>